In [1]:
import requests
import pandas as pd

In [2]:
###i use this cell to get my US Census API Key

%run APIKeys.py
mykey = os.environ['Census_API_key']

API Keys are Loaded

## Scrape Data From 2012-2019 ACS Five Year Estimates

(Note, please see the ACS five year estimates codebook for definitions of variable names)

In [5]:
full_base_url = "https://api.census.gov/data/{year}/acs/acs5"
###get urls for variables (see code below for dictionary)
params2 = {
    "get": ",".join([
            "NAME",
            "B19013_001E",
            "B01003_001E",
            "B03002_001E",
            "B03002_012E",
            "B03002_004E",
            "B01001_001E",
            "B01001_026E",
            "B23025_003E",
            "B23025_005E",
            "B15003_017E",
            "B15003_018E",  
            "B15003_019E",  
            "B15003_020E",   
            "B15003_021E",
            "B15003_022E",
            "B15003_023E",
            "B15003_024E",
            "B15003_025E",
            "B15003_001E",
            "B17001_001E",
            "B17001_002E"
    ]),
    "for": "county:*",
    "in": "state:*",
    "key": mykey
}

In [6]:
data_2012_2019 = []

In [7]:
###getting data from 2007-2019 ACS surveys
for year in range (2012,2020):
    url_temp = full_base_url.format(year=year)
    response_temp = requests.get(url_temp, params=params2)
    
    if response_temp.status_code == 200:
        data_temp = response_temp.json()
        df_temp = pd.DataFrame(data_temp[1:], columns=data_temp[0])  # Convert to DataFrame
        df_temp["year"] = year  # Add year column
        data_2012_2019.append(df_temp)  # Store results
    
    else:
        print(f"Error {response_temp.status_code} for year {year}")

In [8]:
## aggregating the data to one dataframe
final_df = pd.concat(data_2012_2019, ignore_index=True)

In [9]:
# Convert numeric columns to numeric
numeric_columns = ['B19013_001E', 'B01003_001E', 'B03002_001E', 'B03002_012E',
       'B03002_004E', 'B01001_001E', 'B01001_026E', 'B23025_003E',
       'B23025_005E', 'B15003_017E', 'B15003_018E', 'B15003_019E',
       'B15003_020E', 'B15003_021E', 'B15003_022E', 'B15003_023E',
       'B15003_024E', 'B15003_025E', 'B15003_001E', 'B17001_001E',
       'B17001_002E', 'state', 'county']

final_df[numeric_columns] = final_df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [11]:
# Rename columns for clarity
final_df.rename(columns={
    "NAME": "County_Name",
    "B19013_001E": "Median_Household_Income",
    "B01003_001E": "Total_Population",
    "B03002_001E": "Total_Race",
    "B03002_012E": "Total_Hispanic_Population",
    "B03002_004E": "Total_NonHispanic_Black_Population",
    "B01001_001E": "Total_Population_Sex",
    "B01001_026E": "Total_Female_Population",
    "B23025_003E": "Labor_Force", #not in 2009 or 2010
    "B23025_005E": "Unemployed_Population", #not in 2009 or 2010
    "B15003_017E":  "HS_diploma",
    "B15003_018E": "GED",  #not in 2009-2011
    "B15003_019E": "Some_College_less1year",  
    "B15003_020E": "SomeCollege_1ormore",   
    "B15003_021E": "Associates",
    "B15003_022E": "Bachelors",
    "B15003_023E": "Masters",
    "B15003_024E": "Professional",
    "B15003_025E": "Doctorate",
    "B15003_001E": "Totalpop_25_orolder",
    "B17001_001E": "Poverty_Status_Total", #not in 2009
    "B17001_002E": "Total_Below_Poverty"
}, inplace=True)

In [12]:
final_df.shape

(25762, 25)

### Importing 2011 data with different columns

In [23]:
#web-scraping using the 

base_url_2011 = "https://api.census.gov/data/2011/acs/acs5"
###get urls for variables (see code below for dictionary)
params_2011 = {
    "get": ",".join([
                    "NAME",
                    "B19013_001E",
                    "B01003_001E",
                    "B03002_001E",
                    "B03002_012E",
                    "B03002_004E",
                    "B01001_001E",
                    "B01001_026E",
                    "B23025_003E",
                    "B23025_005E",
                    "B15002_011E",
                    "B15002_012E",  
                    "B15002_013E",   
                    "B15002_014E",
                    "B15002_015E",
                    "B15002_016E",
                    "B15002_017E",
                    "B15002_018E",
                    "B15002_028E",
                    "B15002_029E",  
                    "B15002_030E",   
                    "B15002_031E",
                    "B15002_032E",
                    "B15002_033E",
                    "B15002_034E",
                    "B15002_035E",
                    "B15002_001E",
                    "B17001_001E", #not in 2009
                    "B17001_002E"
    ]),
    "for": "county:*",
    "in": "state:*",
    "key": mykey
}

In [25]:
response_2011 = requests.get(base_url_2011, params=params_2011)
data_full_2011 = response_2011.json()

if response_2011.status_code == 200:
    data_temp_2011 = response_2011.json()
    final_df_2011 = pd.DataFrame(data_temp_2011[1:], columns=data_temp_2011[0])  # Convert to DataFrame
    final_df_2011["year"] = 2011  # Add year column
    
else:
    print(f"Error {response_2011.status_code} for year 2011")

In [26]:
numeric_columns = ['B19013_001E', 'B01003_001E', 'B03002_001E', 'B03002_012E',
       'B03002_004E', 'B01001_001E', 'B01001_026E', 'B23025_003E',
       'B23025_005E', 'B15002_011E', 'B15002_012E', 'B15002_013E',
       'B15002_014E', 'B15002_015E', 'B15002_016E', 'B15002_017E',
       'B15002_018E', 'B15002_028E', 'B15002_029E', 'B15002_030E',
       'B15002_031E', 'B15002_032E', 'B15002_033E', 'B15002_034E',
       'B15002_035E', 'B15002_001E', 'B17001_001E', 'B17001_002E', 'state',
       'county', 'year']

In [27]:
# Convert numeric columns to numeric

final_df_2011[numeric_columns] = final_df_2011[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [28]:
# Rename columns for clarity
final_df_2011.rename(columns={
    "NAME": "County_Name",
    "B19013_001E": "Median_Household_Income",
    "B01003_001E": "Total_Population",
    "B03002_001E": "Total_Race",
    "B03002_012E": "Total_Hispanic_Population",
    "B03002_004E": "Total_NonHispanic_Black_Population",
    "B01001_001E": "Total_Population_Sex",
    "B01001_026E": "Total_Female_Population",
    "B23025_003E": "Labor_Force", #not in 2009 or 2010
    "B23025_005E": "Unemployed_Population", #not in 2009 or 2010
    "B15002_011E":  "HS_diploma_Men",
    "B15002_012E": "Some_College_less1year_Men",  
    "B15002_013E": "SomeCollege_1ormore_Men",   
    "B15002_014E": "Associates_Men",
    "B15002_015E": "Bachelors_Men",
    "B15002_016E": "Masters_Men",
    "B15002_017E": "Professional_Men",
    "B15002_018E": "Doctorate_Men",
    "B15002_028E":  "HS_diploma_Women",
    "B15002_029E": "Some_College_less1year_Women",  
    "B15002_030E": "SomeCollege_1ormore_Women",   
    "B15002_031E": "Associates_Women",
    "B15002_032E": "Bachelors_Women",
    "B15002_033E": "Masters_Women",
    "B15002_034E": "Professional_Women",
    "B15002_035E": "Doctorate_Women",
    "B15002_001E": "Totalpop_25_orolder",
    "B17001_001E": "Poverty_Status_Total", #not in 2009
    "B17001_002E": "Total_Below_Poverty"
}, inplace=True)

In [29]:
### making column names consistent for 2012-2019

final_df_2011['HS_diploma'] = final_df_2011['HS_diploma_Men'] + final_df_2011['HS_diploma_Women']
final_df_2011['Some_College_less1year'] = final_df_2011['Some_College_less1year_Men'] + final_df_2011['Some_College_less1year_Women']
final_df_2011['SomeCollege_1ormore'] = final_df_2011['SomeCollege_1ormore_Men'] + final_df_2011['SomeCollege_1ormore_Women']
final_df_2011['Associates'] = final_df_2011['Associates_Men'] + final_df_2011['Associates_Women']
final_df_2011['Bachelors'] = final_df_2011['Bachelors_Men'] + final_df_2011['Bachelors_Women']
final_df_2011['Masters'] = final_df_2011['Masters_Men'] + final_df_2011['Masters_Women']
final_df_2011['Professional'] = final_df_2011['Professional_Men'] + final_df_2011['Professional_Women']
final_df_2011['Doctorate'] = final_df_2011['Doctorate_Men'] + final_df_2011['Doctorate_Women']

In [30]:
##dropping unnecessary columns

final_df_2011.drop(columns=[
   "HS_diploma_Men",
   "Some_College_less1year_Men",  
   "SomeCollege_1ormore_Men",   
   "Associates_Men",
   "Bachelors_Men",
   "Masters_Men",
   "Professional_Men",
   "Doctorate_Men",
   "HS_diploma_Women",
   "Some_College_less1year_Women",  
   "SomeCollege_1ormore_Women",   
   "Associates_Women",
   "Bachelors_Women",
   "Masters_Women", 
   "Professional_Women",
   "Doctorate_Women"
], inplace=True)

In [31]:
##GED itself doesn't show up before 2012, but it's included in the data summed with hs education
final_df_2011['GED'] = 0

### 2010 Data

In [ ]:
###error with employment status in 2010, so I will modify that

### Web-Scraping the 2010 Data

In [36]:
#web-scraping using the 2010 data

base_url_2010 = "https://api.census.gov/data/2010/acs/acs5"
###get urls for variables (see code below for dictionary)
params_2010 = {
    "get": ",".join([
                    "NAME",
                    "B19013_001E",
                    "B01003_001E",
                    "B03002_001E",
                    "B03002_012E",
                    "B03002_004E",
                    "B01001_001E",
                    "B01001_026E",
                    #"B23025_003E",
                    #"B23025_005E",
                    "B15002_011E",
                    "B15002_012E",  
                    "B15002_013E",   
                    "B15002_014E",
                    "B15002_015E",
                    "B15002_016E",
                    "B15002_017E",
                    "B15002_018E",
                    "B15002_028E",
                    "B15002_029E",  
                    "B15002_030E",   
                    "B15002_031E",
                    "B15002_032E",
                    "B15002_033E",
                    "B15002_034E",
                    "B15002_035E",
                    "B15002_001E",
                    "B17001_001E", #not in 2009
                    "B17001_002E"
    ]),
    "for": "county:*",
    "in": "state:*",
    "key": mykey
}

In [37]:
response_2010 = requests.get(base_url_2010, params=params_2010)
data_full_2010 = response_2010.json()

if response_2010.status_code == 200:
    data_temp_2010 = response_2010.json()
    final_df_2010 = pd.DataFrame(data_temp_2010[1:], columns=data_temp_2010[0])  # Convert to DataFrame
    final_df_2010["year"] = 2010  # Add year column
    
else:
    print(f"Error {response_2010.status_code} for year 2010")

Index(['NAME', 'B19013_001E', 'B01003_001E', 'B03002_001E', 'B03002_012E',
       'B03002_004E', 'B01001_001E', 'B01001_026E', 'B15002_011E',
       'B15002_012E', 'B15002_013E', 'B15002_014E', 'B15002_015E',
       'B15002_016E', 'B15002_017E', 'B15002_018E', 'B15002_028E',
       'B15002_029E', 'B15002_030E', 'B15002_031E', 'B15002_032E',
       'B15002_033E', 'B15002_034E', 'B15002_035E', 'B15002_001E',
       'B17001_001E', 'B17001_002E', 'state', 'county', 'year'],
      dtype='object')

In [38]:
numeric_columns_2010 = ['B19013_001E', 'B01003_001E', 'B03002_001E', 'B03002_012E',
       'B03002_004E', 'B01001_001E', 'B01001_026E', 'B15002_011E',
       'B15002_012E', 'B15002_013E', 'B15002_014E', 'B15002_015E',
       'B15002_016E', 'B15002_017E', 'B15002_018E', 'B15002_028E',
       'B15002_029E', 'B15002_030E', 'B15002_031E', 'B15002_032E',
       'B15002_033E', 'B15002_034E', 'B15002_035E', 'B15002_001E',
       'B17001_001E', 'B17001_002E', 'state', 'county', 'year']

In [39]:
final_df_2010[numeric_columns_2010] = final_df_2010[numeric_columns_2010].apply(pd.to_numeric, errors='coerce')

In [40]:
# Rename columns for clarity
final_df_2010.rename(columns={
    "NAME": "County_Name",
    "B19013_001E": "Median_Household_Income",
    "B01003_001E": "Total_Population",
    "B03002_001E": "Total_Race",
    "B03002_012E": "Total_Hispanic_Population",
    "B03002_004E": "Total_NonHispanic_Black_Population",
    "B01001_001E": "Total_Population_Sex",
    "B01001_026E": "Total_Female_Population",
    "B15002_011E":  "HS_diploma_Men",
    "B15002_012E": "Some_College_less1year_Men",  
    "B15002_013E": "SomeCollege_1ormore_Men",   
    "B15002_014E": "Associates_Men",
    "B15002_015E": "Bachelors_Men",
    "B15002_016E": "Masters_Men",
    "B15002_017E": "Professional_Men",
    "B15002_018E": "Doctorate_Men",
    "B15002_028E":  "HS_diploma_Women",
    "B15002_029E": "Some_College_less1year_Women",  
    "B15002_030E": "SomeCollege_1ormore_Women",   
    "B15002_031E": "Associates_Women",
    "B15002_032E": "Bachelors_Women",
    "B15002_033E": "Masters_Women",
    "B15002_034E": "Professional_Women",
    "B15002_035E": "Doctorate_Women",
    "B15002_001E": "Totalpop_25_orolder",
    "B17001_001E": "Poverty_Status_Total", #not in 2009
    "B17001_002E": "Total_Below_Poverty"
}, inplace=True)

#### Getting Data For the Unemployed (Coded Differently in 2010)

In [42]:
params_2010_unemployed = {
    "get": ",".join([
                    "NAME",
                    "B23001_008E",
                    "B23001_015E",
                    "B23001_022E",
                    "B23001_029E",
                    "B23001_036E",
                    "B23001_043E",
                    "B23001_050E",
                    "B23001_057E",
                    "B23001_064E",
                    "B23001_071E",
                    "B23001_076E",
                    "B23001_081E",
                    "B23001_086E",
                    "B23001_094E",
                    "B23001_101E",
                    "B23001_108E",
                    "B23001_115E",
                    "B23001_122E",
                    "B23001_129E",
                    "B23001_136E",
                    "B23001_143E",
                    "B23001_150E",
                    "B23001_157E",
                    "B23001_162E",
                    "B23001_167E",
                    "B23001_172E"
    ]),
    "for": "county:*",
    "in": "state:*",
    "key": mykey
}

In [43]:
response_2010_unemployed = requests.get(base_url_2010, params=params_2010_unemployed)

if response_2010_unemployed.status_code == 200:
    data_2010_umemployed = response_2010_unemployed.json()
    df_2010_unemployed = pd.DataFrame(data_2010_umemployed[1:], columns=data_2010_umemployed[0])  # Convert to DataFrame    
else:
    print(f"Error {response_2010.status_code} for year 2010")

In [44]:
numeric_columns_2010_unemployed = ['B23001_008E', 'B23001_015E', 'B23001_022E', 'B23001_029E',
       'B23001_036E', 'B23001_043E', 'B23001_050E', 'B23001_057E',
       'B23001_064E', 'B23001_071E', 'B23001_076E', 'B23001_081E',
       'B23001_086E', 'B23001_094E', 'B23001_101E', 'B23001_108E',
       'B23001_115E', 'B23001_122E', 'B23001_129E', 'B23001_136E',
       'B23001_143E', 'B23001_150E', 'B23001_157E', 'B23001_162E',
       'B23001_167E', 'B23001_172E', 'state', 'county']

In [45]:
df_2010_unemployed[numeric_columns_2010_unemployed] = df_2010_unemployed[numeric_columns_2010_unemployed].apply(pd.to_numeric, errors='coerce')

In [46]:
df_2010_unemployed.rename(columns={
    "NAME": "County_Name",
    "B23001_008E": "Male_16_19_Unemployed_Civillian",
    "B23001_015E": "Male_20_21_Unemployed_Civillian",
    "B23001_022E": "Male_22_24_Unemployed_Civillian",
    "B23001_029E": "Male_25_29_Unemployed_Civillian",
    "B23001_036E": "Male_30_34_Unemployed_Civillian",
    "B23001_043E": "Male_35_44_Unemployed_Civillian",
    "B23001_050E": "Male_45_54_Unemployed_Civillian",
    "B23001_057E": "Male_55_59_Unemployed_Civillian",
    "B23001_064E": "Male_60_61_Unemployed_Civillian",
    "B23001_071E": "Male_62_64_Unemployed_Civillian",
    "B23001_076E": "Male_65_69_Unemployed_Civillian",
    "B23001_081E": "Male_70_74_Unemployed_Civillian",
    "B23001_086E": "Male_75_over_Unemployed_Civillian",
    "B23001_094E": "Female_16_19_Unemployed_Civillian",
    "B23001_101E": "Female_20_21_Unemployed_Civillian",
    "B23001_108E": "Female_22_24_Unemployed_Civillian",
    "B23001_115E": "Female_25_29_Unemployed_Civillian",
    "B23001_122E": "Female_30_34_Unemployed_Civillian",
    "B23001_129E": "Female_35_44_Unemployed_Civillian",
    "B23001_136E": "Female_45_54_Unemployed_Civillian",
    "B23001_143E": "Female_55_59_Unemployed_Civillian",
    "B23001_150E": "Female_60_61_Unemployed_Civillian",
    "B23001_157E": "Female_62_64_Unemployed_Civillian",
    "B23001_162E": "Female_65_69_Unemployed_Civillian",
    "B23001_167E": "Female_70_74_Unemployed_Civillian",
    "B23001_172E": "Female_75_over_Unemployed_Civillian"
}, inplace=True)

In [47]:
df_2010_unemployed['Unemployed_Population'] = df_2010_unemployed.drop(columns=['state', 'county']).sum(axis=1, numeric_only=True)

In [48]:
###creating a new data_frame with just name and total unemployed for easy merging

unemployed_2010 = df_2010_unemployed[['County_Name', 'Unemployed_Population']]

#### Creating The Labor Force Varaible

In [49]:
params_2010_lf = {
    "get": ",".join([
                   "NAME",
                    "B23001_006E",
                    "B23001_013E",
                    "B23001_020E",
                    "B23001_027E",
                    "B23001_034E",
                    "B23001_041E",
                    "B23001_048E",
                    "B23001_055E",
                    "B23001_062E",
                    "B23001_069E",
                    "B23001_074E",
                    "B23001_079E",
                    "B23001_084E",
                    "B23001_092E",
                    "B23001_099E",
                    "B23001_106E",
                    "B23001_113E",
                    "B23001_120E",
                    "B23001_127E",
                    "B23001_134E",
                    "B23001_141E",
                    "B23001_148E",
                    "B23001_155E",
                    "B23001_160E",
                    "B23001_165E",
                    "B23001_170E"
    ]),
    "for": "county:*",
    "in": "state:*",
    "key": mykey
}

In [50]:
response_2010_lf = requests.get(base_url_2010, params=params_2010_lf)

if response_2010_lf.status_code == 200:
    data_2010_lf = response_2010_lf.json()
    df_2010_lf = pd.DataFrame(data_2010_lf[1:], columns=data_2010_lf[0])  # Convert to DataFrame    
else:
    print(f"Error {response_2010_lf.status_code} for year 2010")

In [51]:
df_2010_lf.columns

Index(['NAME', 'B23001_006E', 'B23001_013E', 'B23001_020E', 'B23001_027E',
       'B23001_034E', 'B23001_041E', 'B23001_048E', 'B23001_055E',
       'B23001_062E', 'B23001_069E', 'B23001_074E', 'B23001_079E',
       'B23001_084E', 'B23001_092E', 'B23001_099E', 'B23001_106E',
       'B23001_113E', 'B23001_120E', 'B23001_127E', 'B23001_134E',
       'B23001_141E', 'B23001_148E', 'B23001_155E', 'B23001_160E',
       'B23001_165E', 'B23001_170E', 'state', 'county'],
      dtype='object')

In [52]:
numeric_columns_2010_lf = ['B23001_006E', 'B23001_013E', 'B23001_020E', 'B23001_027E',
       'B23001_034E', 'B23001_041E', 'B23001_048E', 'B23001_055E',
       'B23001_062E', 'B23001_069E', 'B23001_074E', 'B23001_079E',
       'B23001_084E', 'B23001_092E', 'B23001_099E', 'B23001_106E',
       'B23001_113E', 'B23001_120E', 'B23001_127E', 'B23001_134E',
       'B23001_141E', 'B23001_148E', 'B23001_155E', 'B23001_160E',
       'B23001_165E', 'B23001_170E', 'state', 'county']

In [53]:
df_2010_lf[numeric_columns_2010_lf] = df_2010_lf[numeric_columns_2010_lf].apply(pd.to_numeric, errors='coerce')

In [54]:
df_2010_lf.rename(columns={
    "NAME": "County_Name",
    "B23001_006E": "Male_16_19_LF_Civillian",
    "B23001_013E": "Male_20_21_LF_Civillian",
    "B23001_020E": "Male_22_24_LF_Civillian",
    "B23001_027E": "Male_25_29_LF_Civillian",
    "B23001_034E": "Male_30_34_LF_Civillian",
    "B23001_041E": "Male_35_44_LF_Civillian",
    "B23001_048E": "Male_45_54_LF_Civillian",
    "B23001_055E": "Male_55_59_LF_Civillian",
    "B23001_062E": "Male_60_61_LF_Civillian",
    "B23001_069E": "Male_62_64_LF_Civillian",
    "B23001_074E": "Male_65_69_LF_Civillian",
    "B23001_079E": "Male_70_74_LF_Civillian",
    "B23001_084E": "Male_75_over_LF_Civillian",
    "B23001_092E": "Female_16_19_LF_Civillian",
    "B23001_099E": "Female_20_21_LF_Civillian",
    "B23001_106E": "Female_22_24_LF_Civillian",
    "B23001_113E": "Female_25_29_LF_Civillian",
    "B23001_120E": "Female_30_34_LF_Civillian",
    "B23001_127E": "Female_35_44_LF_Civillian",
    "B23001_134E": "Female_45_54_LF_Civillian",
    "B23001_141E": "Female_55_59_LF_Civillian",
    "B23001_148E": "Female_60_61_LF_Civillian",
    "B23001_155E": "Female_62_64_LF_Civillian",
    "B23001_160E": "Female_65_69_LF_Civillian",
    "B23001_165E": "Female_70_74_LF_Civillian",
    "B23001_170E": "Female_75_over_LF_Civillian"
}, inplace=True)

In [55]:
###creating labor force variable

df_2010_lf['Labor_Force'] = df_2010_lf.drop(columns=['state', 'county']).sum(axis=1, numeric_only=True)
lf_2010 = df_2010_lf[['County_Name', 'Labor_Force']]

### Merging Unemployment Data and Labor Force Data with rest of data (2010)

In [56]:
##creating employment dataframe

df_2010_employment = pd.merge(unemployed_2010,lf_2010, on='County_Name', how='inner')

In [57]:
final_df_2010 = pd.merge(final_df_2010, df_2010_employment, on='County_Name', how = 'inner')

In [58]:
final_df_2010['Median_Household_Income'].notna().sum()

3221

### 2010 Calculations

In [59]:
### making column names consistent for 2012-2019

final_df_2010['HS_diploma'] = final_df_2010['HS_diploma_Men'] + final_df_2010['HS_diploma_Women']
final_df_2010['Some_College_less1year'] = final_df_2010['Some_College_less1year_Men'] + final_df_2010['Some_College_less1year_Women']
final_df_2010['SomeCollege_1ormore'] = final_df_2010['SomeCollege_1ormore_Men'] + final_df_2010['SomeCollege_1ormore_Women']
final_df_2010['Associates'] = final_df_2010['Associates_Men'] + final_df_2010['Associates_Women']
final_df_2010['Bachelors'] = final_df_2010['Bachelors_Men'] + final_df_2010['Bachelors_Women']
final_df_2010['Masters'] = final_df_2010['Masters_Men'] + final_df_2010['Masters_Women']
final_df_2010['Professional'] = final_df_2010['Professional_Men'] + final_df_2010['Professional_Women']
final_df_2010['Doctorate'] = final_df_2010['Doctorate_Men'] + final_df_2010['Doctorate_Women']

In [60]:
##dropping unnecessary columns

final_df_2010.drop(columns=[
   "HS_diploma_Men",
   "Some_College_less1year_Men",  
   "SomeCollege_1ormore_Men",   
   "Associates_Men",
   "Bachelors_Men",
   "Masters_Men",
   "Professional_Men",
   "Doctorate_Men",
   "HS_diploma_Women",
   "Some_College_less1year_Women",  
   "SomeCollege_1ormore_Women",   
   "Associates_Women",
   "Bachelors_Women",
   "Masters_Women", 
   "Professional_Women",
   "Doctorate_Women"
], inplace=True)

In [61]:
final_df_2010['GED'] = 0

In [62]:
final_df_2010.columns

Index(['County_Name', 'Median_Household_Income', 'Total_Population',
       'Total_Race', 'Total_Hispanic_Population',
       'Total_NonHispanic_Black_Population', 'Total_Population_Sex',
       'Total_Female_Population', 'Totalpop_25_orolder',
       'Poverty_Status_Total', 'Total_Below_Poverty', 'state', 'county',
       'year', 'Unemployed_Population', 'Labor_Force', 'HS_diploma',
       'Some_College_less1year', 'SomeCollege_1ormore', 'Associates',
       'Bachelors', 'Masters', 'Professional', 'Doctorate', 'GED'],
      dtype='object')

## merging 2012-2019 data with 2011 and 2010

In [63]:
all_dfs = [final_df, final_df_2011, final_df_2010]

In [64]:
full_df = pd.concat(all_dfs, ignore_index=True)

### Doing calculations for data

In [65]:
# Calculate additional metrics
full_df["Percent_Hispanic"] = (full_df["Total_Hispanic_Population"] / full_df["Total_Race"]) * 100
full_df["Percent_NonHispanic_Black"] = (full_df["Total_NonHispanic_Black_Population"] / full_df["Total_Race"]) * 100
full_df["Percent_Unemployed"] = (full_df["Unemployed_Population"] / full_df["Labor_Force"]) * 100
full_df["Percent_Female"] = (full_df["Total_Female_Population"] / full_df["Total_Population_Sex"]) * 100
full_df["Percent_Below_Poverty"] = (full_df["Total_Below_Poverty"] / full_df["Poverty_Status_Total"]) * 100


full_df["HS_Graduates"] = (full_df["HS_diploma"] + full_df["GED"] +
                           full_df["Some_College_less1year"] + full_df["SomeCollege_1ormore"] + full_df["Associates"] +
                           full_df["Bachelors"] + full_df["Masters"] +
                           full_df["Professional"] + full_df["Doctorate"]
                          )
full_df["College_Graduates"] = (full_df["Bachelors"] + full_df["Masters"] +
                                full_df["Professional"] + full_df["Doctorate"]
                               )

full_df["Percent_HS"] = (full_df["HS_Graduates"] / full_df["Totalpop_25_orolder"]) * 100
full_df["Percent_College"] = (full_df["College_Graduates"] / full_df["Totalpop_25_orolder"]) * 100
full_df["fips"] = (full_df['state']*1000) + full_df['county']

In [66]:
##keeping the dataframe only with necessary columns

export_df_columns = ['County_Name', 'Median_Household_Income', 'Total_Population',
       'year', 'Percent_Hispanic',
       'Percent_NonHispanic_Black', 'Percent_Unemployed', 'Percent_Female',
       'Percent_Below_Poverty', 
       'Percent_HS', 'Percent_College', 'fips']

export_df = full_df[export_df_columns].copy()

In [68]:
##code that saves the sample county characteristics from the ACS data from 2010-2019 as a CSV file

# export_df.to_csv('sample_county_characteristics.csv')